.main {
  padding: 0rem;
  display: flex;
  width: 70%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.back,
.user {
  cursor: pointer;
  font-size: 3vmax;
}
